body{
    background-color: LightGray;
    color: black;
    font-size: 18px;
    }
    
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 20px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 100%;
      max-width: 67.5%;
    }
    
    /* Add Animation */
    .modal-content, #caption {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 30px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
    /* top navigation bar */
    .topnav{
        overflow: hidden;
        background-color: #2d2d2d;
        border-radius: 25px;
    }
    .topnav a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 18px 16px;
        text-decoration: none;
        font-size: 16px;
    }
    .dropdown{
      float:left;
      overflow: hidden;
    }
    .dropdown:hover{
      transition: 0.3s
    }
    .dropdown .dropbtn{
      border: none;
      outline: none;
      font-size: 16px;
      background-color: #2d2d2d;
      font-family: inherit;
      padding: 18px 16px;
      margin: 0;
      font-size: 16px;
      color: white;
      text-align: center;
      min-width: 180px;
    }
    .dropdown-content{
      display: none;
      position: absolute;
      z-index: 5;
      min-width: 180px;
    }
    .dropdown-content a{
      float: none;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
      background-color: #2d2d2d;
    }
    .dropdown:hover .dropdown-content{
      display: block;
    }
    .topnav a:hover.tostido{
      background-color: #c4c00a;
      box-shadow: 0 0 6px 6px #c4c00a;
      clip-path: inset(0 -9px 0 -9px);
      color:black;
      transition: .3s;
    }
    .topnav a:hover.potato{
      background-color: #91195f;
      box-shadow: 0 0 6px 6px #91195f;
      clip-path: inset(0 -9px 0 -9px);
      color:white;
      transition: .3s;
    }
    .topnav a:hover.sourpatch{
      background-color: #631400;
      box-shadow: 0 0 6px 6px #631400;
      clip-path: inset(0 -9px 0 -9px);
      color:white;
      transition: .3s;
    }
    .topnav a:hover.bagel{
      background-color: #4b7faa;
      box-shadow: 0 0 6px 3px #4b7faa;
      clip-path: inset(0 -9px 0 -9px);
      color:black;
      transition: .3s;
    }
    #bagel:hover{
      background-color: #4b7faa;
      box-shadow: 0 0 6px 6px #4b7faa;
      color: black;
      transition: .3s;
    }
    #tostido:hover{
      background-color: #c4c00a;
      box-shadow: 0 0 6px 6px #c4c00a;
      color: black;
      transition: .3s;
    }
    #potato:hover{
      background-color: #91195f;
      box-shadow: 0 0 6px 6px #91195f;
      color: white;
      transition: .3s;
    }
    #sourpatch:hover{
      background-color: #631400;
      box-shadow: 0 0 6px 6px #631400;
      color: white;
      transition: .3s;
    }
/* tooltips */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,400,400i,500,500i,700,700i');
/*tipped element. should be inline-block or block*/
.qtip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: rgb(30, 84, 209);
  border-bottom: 0.05em dotted #3bb4e5;
  box-sizing: border-box;
  font-style: normal;
  transition:all .25s ease-in-out
}
.qtip:hover {color:#069;border-bottom:0.05em dotted #069}
/*the tip*/
.qtip:before {
  content: attr(data-tip);
  font-size: 14px;
  position: absolute;
  background: rgba(10, 20, 30, 0.90);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 12vw;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: Lucida Sans;
  letter-spacing: 0;
  font-weight: 600
}
.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.qtip:hover:before,
.qtip:hover:after {
  visibility: visible;
  opacity: 1
}
/*top*/
.qtip.tip-top:before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-top:after {
  border-width: 8px 8px 0 8px;
  border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*alternative tip*/
.btip {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: rgb(30, 84, 209);
  border-bottom: 0.05em dotted #3bb4e5;
  box-sizing: border-box;
  font-style: normal;
  transition:all .25s ease-in-out
}
.qtip:hover {color:#069;border-bottom:0.05em dotted #069}
/*the tip*/
.btip:before {
  content: attr(data-tip);
  font-size: 14px;
  position: absolute;
  background: rgba(10, 20, 30, 0.90);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 20vw;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: Lucida Sans;
  letter-spacing: 0;
  font-weight: 600
}
.btip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.btip:hover:before,
.btip:hover:after {
  visibility: visible;
  opacity: 1
}
/*top*/
.btip.tip-top:before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.btip.tip-top:after {
  border-width: 8px 8px 0 8px;
  border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}